*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: monospace
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
**
*/

button {
  font-weight: bold;
}

#app {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#header {
  z-index: 1;
  text-align: center;
  padding: 1em;
}

#send {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  text-align: center;
  z-index: 1;
}

#sendFile, #receiveFile {
  font-weight: bold;
}

#uploadButton {
  z-index: 999;
}

#receive {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  text-align: center;
  max-width: 384px;
  height: 256px;
  margin: 0 auto;
}

#dropZone {
  display: none;
  border: 2px dashed #ccc;
  position: fixed;
  margin: 1em;
  top: 0;
  left: 0;
  height: calc(100vh - 2em);
  width: calc(100vw - 2em);
}

#selectedFiles {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  text-align: center;
}

#connectionState {
  font-weight: bold;
}
